@model Flatmate.Models.EntityModels.User

@{
    ViewData["Title"] = "Edit";
}

<div class="m-md-5 m-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title pl-2"><strong>Personal information</strong></h5>
            <hr />
            <img class="rounded-circle float-right profile-photo border" src="~/images/Dashboard/settlement/avatar.png" />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <small><b><label asp-for="FirstName"></label></b></small>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <small><b><label asp-for="LastName"></label></b></small>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <small><b><label asp-for="EmailAddress"></label></b></small>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="d-inline-flex">
                    <div class="form-group">
                        <button asp-action="Details" asp-controller="Users" asp-route-id="1" class="btn blue lighten-2 text-white" >Back</button>
                        <input type="submit" value="Save" class="btn blue lighten-2 text-white" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
