@model Flatmate.Models.EntityModels.TotalExpense

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TotalExpense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinalizationDate"></label>
                <input asp-for="FinalizationDate" class="form-control" />
                <span asp-validation-for="FinalizationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Covered" /> @Html.DisplayNameFor(model => model.Covered)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseCategory"></label>
                <select asp-for="ExpenseCategory" class="form-control"></select>
                <span asp-validation-for="ExpenseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId"></label>
                <select asp-for="OwnerId" class ="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

