
<div id="new-shop-list-modal-placeholder"></div>
<div id="new-bill-modal-placeholder"></div>
<div id="new-settlement-modal-placeholder"></div>

<div id="accordion">
    @*Shopping module*@
    <div class="my-md-5 ml-md-5 my-5 card">
        <div id="shopHeading" role="button" class="rounded view view-cascade py-3 blue lighten-2 mx-4 d-flex justify-content-between align-items-center" style="margin-top:-1rem">
            <div class="col-md-8 ml-3 row" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div><b>Shopping <br /> module</b></div>
                <i class="fas fa-angle-double-right fa-2x ml-2 white-text align-self-center"></i>
            </div>
            <div class="col-md-3 px-1" style="text-align:right">
                <button type="button" title="Add new shopping list" class="btn btn-outline-white btn-rounded btn-sm px-2 mx-2"
                        data-toggle="ajax-shopping-list-modal" data-target="#modalShoppingListCreate" data-url="@Url.Action("NewShoppingList")">
                    <i class="fas fa-plus mt-0"></i>
                </button>
            </div>
        </div>
        <div id="collapseOne" class="collapse show card-body" aria-labelledby="shopHeading" data-parent="#accordion">
            <div class="row">
                <div id="plannedShoppingDiv" class="col-lg-4 col-11 row accordion-content-tall mb-4 mx-2">

                </div>
                <div id="shoppingDetailsDiv" class="col-lg-7 col-11 accordion-content-tall mb-4 mx-2">

                </div>
            </div>
        </div>
    </div>

    @*Bills module*@
    <div class="my-md-5 ml-md-5 my-5 card">
        <!--Card header-->
        <div id="billHeading" role="button" class="rounded view view-cascade py-3 blue lighten-2 mx-4 d-flex justify-content-between align-items-center collapsed" style="margin-top:-1rem">
            <div class="col-md-8 ml-3 row" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div><b>Recurring <br /> bills</b></div>
                <i class="fas fa-angle-double-right fa-2x ml-2 white-text align-self-center"></i>
            </div>
            <div class="col-md-3 px-1" style="text-align:right">
                <button type="button" title="Add new recurring bill" class="btn btn-outline-white btn-rounded btn-sm px-2 mx-2"
                        data-toggle="ajax-recurring-bill-modal" data-target="#modalRecurringBillCreate" data-url="@Url.Action("NewRecurringBill")">
                    <i class="fas fa-plus mt-0"></i>
                </button>
            </div>
        </div>
        <div id="collapseTwo" class="card-body collapse" aria-labelledby="billHeading" data-parent="#accordion">
            <div class="row">
                <div id="rbsInProgressDiv" class="col-lg-4 col-11 row accordion-content-tall mb-4 mx-2">

                </div>
                <div id="rbDetailsDiv" class="col-lg-7 col-11 accordion-content-tall mb-4 mx-2">

                </div>
            </div>
        </div>
    </div>

    @*Expense history module*@
    <div class="my-md-5 ml-md-5 my-5 card">
        <div id="expenseHeading" role="button" class="rounded view view-cascade py-3 blue lighten-2 mx-4 d-flex justify-content-between align-items-center collapsed" style="margin-top:-1rem">
            <div class="col-md-8 ml-3 row" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div><b>Expenses <br /> history</b></div>
                <i class="fas fa-angle-double-right fa-2x ml-2 white-text align-self-center"></i>
            </div>
            <div class="col-md-3 px-1" style="text-align:right">
                <button type="button" title="Expense history manual" class="btn btn-outline-white btn-rounded btn-sm px-2 mx-2">
                    <i class="fas fa-info-circle mt-0"></i>
                </button>
            </div>
        </div>
        <div id="collapseThree" class="card-body collapse" aria-labelledby="expenseHeading" data-parent="#accordion">
            <div class="row">
                <div class="col-lg-6 col-12 overflow-auto">
                    <div id="expenseHistoryDiv">
                        <div>
                            <label class="d-inline-flex">Choose period:</label>
                            <select id="expenseHistoryDurationSelect" class="d-inline-flex">
                                <option value="3days" selected>3 days</option>
                                <option value="1week">1 Week</option>
                                <option value="1month">1 month</option>
                            </select>
                        </div>
                        <div>
                            <div class="btn-group nav blue lighten-2" role="tablist" id="expenseHistoryTab">
                                <button type="button" id="executedLiabilitiesTab" data-toggle="tab" href="#executedLiabilities" role="tab"
                                        class="btn text-white active" aria-selected="true">
                                    I owed
                                </button>
                                <button type="button" id="executedCredibilitiesTab" data-toggle="tab" href="#executedCredibilities" role="tab"
                                        class="btn text-white" aria-selected="false">
                                    They owed me
                                </button>
                            </div>
                            <table class="w-100 btn-group">
                                <thead class="w-100">
                                    <tr class="w-100 btn-group">
                                        <th class="btn btn-sm disabled text-danger font-weight-bold" style="font-size:12px" id="coveredLiabilitiesLabel">
                                            SUM : UNKNOWN
                                        </th>
                                        <th class="btn btn-sm disabled font-weight-bold" style="font-size:12px" id="coveredCredibilitiesLabel">
                                            SUM : UNKNOWN
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="executedExpensesDiv" class="tab-content mt-3 acco">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="expenseVisualizationDiv" class="col-lg-5 col-12 accordion-content-short">
                    <canvas id="myChart" width="400" height="400" ></canvas>
                </div>
            </div>
        </div>
    </div>

    @*Settlements module*@
    <div class="my-md-5 ml-md-5 my-5 card">
        <div id="settlementHeading" role="button" class="rounded view view-cascade py-3 blue lighten-2 mx-4 d-flex justify-content-between align-items-center collapsed" style="margin-top:-1rem">
            <div class="col-md-8 ml-3 row" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="align-self-center"><b>Settlements</b></div>
                <i class="fas fa-angle-double-right fa-2x ml-2 white-text align-self-center"></i>
            </div>
            <div class="col-md-3 px-1" style="text-align:right">
                <button type="button" title="Cover selected expenses" class="btn btn-outline-white btn-rounded btn-sm px-2 mx-2"
                        id="coverExpensesButton" style="visibility:hidden" data-url="@Url.Action("MarkExpensesAsCovered")">
                    <i class="far fa-money-bill-alt"></i>
                </button>
                <button type="button" title="Add new expense" class="btn btn-outline-white btn-rounded btn-sm px-2 mx-2"
                        data-toggle="ajax-new-expense-modal" data-target="#modalExpenseCreate" data-url="@Url.Action("NewExpense")">
                    <i class="fas fa-plus mt-0"></i>
                </button>
            </div>
        </div>
        <div id="collapseFour" class="card-body collapse" aria-labelledby="settlementHeading" data-parent="#accordion">
            <div class="row">
                <div class="col-lg-7 col-12 overflow-auto">
                    <div id="currentSettlementsDiv">
                        <div>
                            <div class="btn-group nav blue lighten-2" role="tablist" id="currentExpensesTab">
                                <button type="button" id="currentLiabilitiesTab" data-toggle="tab" href="#currentLiabilities" role="tab"
                                        class="btn text-white active" aria-selected="true">
                                    I owe
                                </button>
                                <button type="button" id="currentCredibilitiesTab" data-toggle="tab" href="#currentCredibilities" role="tab"
                                        class="btn text-white" aria-selected="false">
                                    They owe me
                                </button>
                            </div>
                            <table class="w-100 btn-group">
                                <thead class="w-100">
                                    <tr class="w-100 btn-group">
                                        <th class="btn btn-sm disabled text-danger font-weight-bold" style="font-size:12px" id="currentLiabilitiesLabel">
                                            SUM : Loading..
                                        </th>
                                        <th class="btn btn-sm disabled font-weight-bold" style="font-size:12px" id="currentCredibilitiesLabel">
                                            SUM : Loading..
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="currentExpensesDiv" class="tab-content mt-3">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="settlementDetailsDiv" class="col-lg-5 col-12 accordion-content-short" style="overflow: visible">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/js/budgetManager.js"></script>

<script>
    generateBudgetManagerView();
</script>   