@model Flatmate.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div id="dashboard-wrapper">
    <div id="stack-panels-wrapper">
        <div class="stack-panel owe-stack-panel">
            <p>I owe</p>
            <ul class="horizontal">
                @foreach (var item in Model.UserLiabilities)
                {
                <li>
                    <partial name="LiabilityExpenseThumbnailPartialView" model="item" />
                </li>
                }
            </ul>
        </div>
        <div class="stack-panel owe-stack-panel">
            <p>I am owed</p>
            <ul class="horizontal">
                @foreach (var item in Model.UserCredibilities)
                {
                <li>
                    <partial name="CredibilityExpenseThumbnailPartialView" model="item" />
                </li>
                }
            </ul>
        </div>
    </div>
    <div id="budget-summary-wrapper">
        <ul>
            @foreach(var item in Model.FlatmateBalances)
            {
                <li>
                    For @item.Key balance is @item.Value
                </li>
            }
        </ul>
    </div>
</div>
