
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* ******************************* */

ul {
    list-style: none;
}

li:hover .expense-thumbnail {
    cursor: pointer;
}

/*li:hover .expense-manager-menu-item {
    cursor: pointer;
}*/

.horizontal {
    margin: 0;
    padding: 25px;
}

.horizontal li {
    display: inline-block;
}

#stack-panels-wrapper {
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
}

.owe-stack-panel {
    width: 50%;
}

.menu-stack-panel {
    width: 100%;
}

.stack-panel {
    box-sizing: border-box;
    float: left;
    /*width: 50%;*/
    border-radius: 25px;
    border: 2px solid #4df94a;
    background-color: #b9ffb7;
    padding: 20px;
}

#budget-summary-wrapper {
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #3a85ff;
    padding: 25px;
}

.expense-thumbnail {
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #87ff84;
    padding: 20px;
    overflow: hidden;
}

.expense-manager-menu-item {
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #87ff84;
    padding: 20px;
    overflow: hidden;
    width: 25vh;
    height: 25vh;
}

.menu-item {
    white-space: pre-wrap; /* css-3 */
}

.rendered-body-margin {
    margin: 5rem!important;
}

/* Custom Bootstrap 4 CSS */

.dashboard-card-font {
    font-size: 12px;
}

@media (min-width: 992px) {
    .nav-dropdown-position-right {
        left: -2.5rem !important;
    }
}

@media screen and (min-width: 768px) {
    .row-margin {
        margin: 0 1.8rem 0 3rem;
    }

}

@media screen and (max-width: 767px) {
    .margin-left-0-max-sm {
        margin-left: 0 !important;
    }

    .mx-0-max-sm {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 576px) {
    .card-bigger-sm {
        height: 400px;
    }
    
    .dashboard-card-big-content {
        height: 300px;
    }
}

@media screen and (max-width: 575px) {
    .card-bigger-sm {
        height: 450px;
    }
    .dashboard-card-big-content {
        height: 250px;
    }
}

.border-light-dotted {
    border-style: dotted;
    border-width: 2px;
    border-color: lightgrey;
}

.border-no-top {
    border-top: none!important;
}

.border-no-top-right {
    border-top: none!important;
    border-right: none!important;
}

.border-no-top-left {
    border-top: none!important;
    border-left: none!important;
}

.border-no-left {
    border-left: none !important;
}

.card-size-400 {
    height: 400px;
}

.dashboard-card-medium-content {
    height: 250px;
}

.button-35 {
    width: 35px!important;
    height: 35px;
}

@media screen and (min-height: 620px) {
    .left-nav-sizing {
        height: 90% !important;
    }
    .left-nav-sizing-inner {
        height: 90% !important;
        margin-bottom: 1rem !important;
        margin-top: 1rem !important;
    }
}

@media screen and (min-height: 450px) and (max-height: 619px) {
    .left-nav-sizing {
        height: 85% !important;
    }
    .left-nav-sizing-inner {
        height: 85% !important;
        margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important;
    }
}

@media screen and (max-height: 449px) {
    .left-nav-sizing {
        height: 80% !important;
    }
    .left-nav-sizing-inner {
        height: 80% !important;
        margin-bottom: 1.5rem !important;
        margin-top: 1.5rem !important;
    }
}

.settlement-table-wrapper {
    height: 250px;
}

.btn-padding-sm {
    padding: 5px!important;
}

.no-inner-padding {
    padding: 0!important;
    line-height: 1;
}

.small-inner-padding {
    padding: 0.2rem!important;
}

.calendar-cell-width {
    width: 13%;
}

.full-width-break-text {
    width: 100%;
    white-space: normal;
    display: block;
}

.profile-photo {
    height: 5rem;
    width: 5rem;
    margin-top: -3.5rem;
    margin-right: 2rem;
}

.small-avatar-sizing {
    height: 30px;
    width: 30px;
}

.shopping-list {
    list-style: circle;
    font-style: italic;
}

@media screen and (min-width: 1077px) {
    .big-screen-left-border {
        border-left: 1px solid #dee2e6;
    }
}

.accordion-content-tall {
    max-height: 450px;
    overflow: auto;
}

.accordion-content-short {
    max-height: 300px;
    overflow: auto;
}

.accordion-content-tab {
    max-height: 250px;
    overflow: auto;
}





/* Custom Bootstrap 4 CSS end */