
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* ******************************* */

ul {
    list-style: none;
}

li:hover .expense-thumbnail {
    cursor: pointer;
}

/*li:hover .expense-manager-menu-item {
    cursor: pointer;
}*/

.horizontal {
    margin: 0;
    padding: 25px;
}

.horizontal li {
    display: inline-block;
}

#stack-panels-wrapper {
    box-sizing: border-box;
    border-radius: 25px;
    overflow: hidden;
}

.owe-stack-panel {
    width: 50%;
}

.menu-stack-panel {
    width: 100%;
}

.stack-panel {
    box-sizing: border-box;
    float: left;
    /*width: 50%;*/
    border-radius: 25px;
    border: 2px solid #4df94a;
    background-color: #b9ffb7;
    padding: 20px;
}

#budget-summary-wrapper {
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #3a85ff;
    padding: 25px;
}

.expense-thumbnail {
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #87ff84;
    padding: 20px;
    overflow: hidden;
}

.expense-manager-menu-item {
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #87ff84;
    padding: 20px;
    overflow: hidden;
    width: 25vh;
    height: 25vh;
}

.menu-item {
    white-space: pre-wrap; /* css-3 */
}

.rendered-body-margin {
    margin: 5rem!important;
}

@media screen and (min-width: 768px){
    .card-row{
        margin: 0 1.8rem 0 1.8rem;
    }
}