@model Flatmate.ViewModels.ExpenseManager.NewExpenseListViewModel

@{
    ViewData["Title"] = "NewExpenseList";
}

<h2>NewExpenseList</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="NewExpenseList">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="expense-items-container">
                @*<partial name="ExpenseListItemPartialView" model="" />*@
                <!-- Here new expenses will be added dynamically -->
            </div>
            <div class="form-group">
                <input id="add-expense-btn" style="background-color:darkcyan;color:white" type="button" value="Add next expense" class="btn btn-default" data-url="@Url.Action("GetExpenseListItemPartialView", "ExpenseManager", new { })" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(addNewExpenseItem);
    $('#add-expense-btn').click(addNewExpenseItem);
    $(document).on('click', '.remove-exp-item', function (event) {
        console.log('Remove initiated by ' + event.target.tagName);
        let clickedEl = event.target;
        let targetEl = clickedEl.closest('fieldset.expense-item');
        console.log('Target element: ' + targetEl.tagName);
        jQuery(targetEl).fadeOut('slow', function () {
            targetEl.remove();
        });
    });

    function addNewExpenseItem() {
        let newExpensePartialViewUrl = $('#add-expense-btn').data('url');
        $.ajax({
            type: "GET",
            url: newExpensePartialViewUrl,
            success: function (data, statusText, xhdr) {
                console.log("new expense item received from ajax call");
                let removeBtnId = 'remove-exp-btn-' + $(data).find("input[name*='.index']").attr('value');
                console.log("id for delete button set to " + removeBtnId);
                $(data).find('.remove-exp-item').attr('id', removeBtnId);
                $('#expense-items-container').append(data).hide().fadeIn('slow');
            },
            error: function (xhdr, statusText, errorText) {
                alert('get new expense item failed with message ' + errorText);
            }
        });
    }
    </script>
}