
<div id="dashboard-wrapper">
    <p>Select option</p>
    <div class="stack-panel menu-stack-panel">
        <ul class="horizontal">
            <li class="expense-manager-menu-item">
                <a asp-area="" asp-controller="ExpenseManager" asp-action="NewSingleExpense">Add single expense</a>
            </li>
            <li class="expense-manager-menu-item">
                <a asp-area="" asp-controller="ExpenseManager" asp-action="Index">Add expense list</a>
            </li>
        </ul>
    </div>
</div>