
<div id="dashboard-wrapper">
    <p>Select option</p>
    <div class="stack-panel menu-stack-panel">
        <ul class="horizontal">
            <li>
                <a class="btn btn-primary expense-manager-menu-item menu-item" asp-area="" asp-controller="ExpenseManager" asp-action="NewOrder">New Order</a>
            </li>
            <li>
                <a class="btn btn-primary expense-manager-menu-item" asp-area="" asp-controller="ExpenseManager" asp-action=""></a>
            </li>
        </ul>
    </div>
</div>