@model Flatmate.ViewModels.Dashboard.DashboardViewModel;

<div id="firstDashboardRow" class="row row-margin">

    @*Upcoming events module*@
    <div class="col-lg-8 mb-4 mt-5">
        <div class="card card-bigger-sm">
            <div class="h6 card-header text-center purple lighten-3">
                <i class="fas fa-angle-double-left text-white"></i>
                <strong>Upcoming events</strong>
                <i class="fas fa-angle-double-right text-white"></i>
            </div>
            <div class="card-body">
                <div class="row">
                    <div id="upcomingEventsDiv" class="col-sm-7 mx-1 overflow-auto dashboard-card-big-content">

                    </div>
                    <div class="col-sm-4 mr-2">
                        <label class="text-center dashboard-card-font">Choose period: </label>
                        <select id="eventPeriodSelect" class="mx-3 mb-1 browser-default custom-select">
                            <option value="3days" selected>3 days</option>
                            <option value="1week">1 Week</option>
                            <option value="2weeks">2 Weeks</option>
                            <option value="3weeks">3 Weeks</option>
                        </select>
                        @*TODO: change id to current user*@
                        <a class="btn blue lighten-2 btn-block text-white p-2 m-2 dashboard-card-font"
                           asp-action="Index" asp-controller="Scheduler" asp-route-id="1">
                            Check your <br /> calendar
                            <i class="fas fa-angle-double-right"></i>
                            <span class="sr-only">check your calendar</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Card-->
    </div>

    @*Planned shopping module*@
    <div class="col-lg-4 mb-4 mt-5">

        <div class="card card-size-400">
            <div class="h6 card-header text-center red lighten-3">
                <i class="fas fa-angle-double-left text-white"></i>
                <strong>Planned shopping</strong>
                <i class="fas fa-angle-double-right text-white"></i>
            </div>
            <div class="card-body mr-2">
                <div id="plannedShoppingDiv" class="row overflow-auto dashboard-card-medium-content">

                </div>
                <div class="col-sm-12 pl-1 pr-2 py-0 mt-3">
                    <button type="button" class="btn blue lighten-2 btn-block p-2 m-2 dashboard-card-font text-white">
                        Shopping module
                        <i class="fas fa-angle-double-right"></i>
                        <span class="sr-only">go to shopping module</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="secondDashboardRow" class="row row-margin">

    @*Settlement module*@
    <div class="col-lg-8 mb-4">
        <div class="card card-size-400">
            <div class="h6 card-header text-center green lighten-3">
                <i class="fas fa-angle-double-left text-white"></i>
                <strong>Settlements</strong>
                <i class="fas fa-angle-double-right text-white"></i>
            </div>
            <div class="card-body">
                <div>
                    <div class="btn-group nav blue lighten-2" role="tablist" id="myTab">
                        <button type="button" id="home-tab" data-toggle="tab" href="#liabilities" role="tab"
                                class="btn text-white active" aria-selected="true">
                            I owe
                        </button>
                        <button type="button" id="profile-tab" data-toggle="tab" href="#credibilities" role="tab"
                                class="btn text-white" aria-selected="false">
                            They owe me
                        </button>
                    </div>
                    <div id="expensesBalanceDiv" class="tab-content mt-3">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Planned payments*@
    <div class="col-lg-4 mb-4">
        <div class="card card-size-400">
            <div class="h6 card-header text-center orange lighten-3">
                <i class="fas fa-angle-double-left text-white"></i>
                <strong>Future expenses</strong>
                <i class="fas fa-angle-double-right text-white"></i>
                <br />
                <small><i>For the next 7 days</i></small>
            </div>
            <div class="card-body mr-2">
                <div id="plannedExpensesDiv" class="row overflow-auto dashboard-card-medium-content">

                </div>
                <div class="col-sm-12 pl-1 pr-2 py-0 mt-3">
                    <button type="button" class="btn blue lighten-2 btn-block p-2 m-2 text-white dashboard-card-font">
                        Show billing list
                        <i class="fas fa-angle-double-right"></i>
                        <span class="sr-only">show billing list</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="~/js/home.js"></script>

<script>
    generateDashboardView();
</script>   