@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-margin">
    <partial name="_upcomingEventsPartial" />
    <partial name="_plannedShoppingPartial" />
</div>

<div class="row row-margin">
    <partial name="_settlementPartial" />
    <partial name="_futurePaymentsPartial" />
</div>